@{
    Layout = "_Layout";
    ViewData["Title"] = "Order";
    List<FastDeliveryEC.Models.ViewOrderModel> OrdersModel = ViewData["MyListOrder"] as List<FastDeliveryEC.Models.ViewOrderModel>;
}

<div class="container-fluid">
    <div class="container py-8 py-sm-7">
        <div class="row justify-content-center">
            <div class="d-flex">
                <div class="col-md-12 col-lg">
                    <div class="card card-lg mb-5">
                        <div class="card-body ">
                            <div class="text-center">
                                <div class="mb-5">
                                    <h3 class="display-4">List Order</h3>
                                    <span class="text-danger">@ViewData["MyListOrderEmpty"]</span>
                                </div>
                                <!-- Card -->
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-header-title">My recently order</h4>
                                    </div>
                                    <!-- Table -->
                                    <div class="table-responsive datatable-custom">
                                        <table id="basicDatatable" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
                                               data-hs-datatables-options='{
                                                     "order": []
                                                   }'>
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>AddressFrom</th>
                                                    <th>AddressOrder</th>
                                                    <th>Status</th>
                                                    <th>Cash</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var x in OrdersModel)
                                                {
                                                    <tr>
                                                        <td>
                                                            <div class="media-body">
                                                                @x.AddressFrom
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="media-body">@x.AddressOrder</span>
                                                            @*<span class="d-block font-size-sm">Human resources</span>*@
                                                        </td>
                                                        <td>
                                                            <div class="media-body">
                                                                @x.Status
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="media-body"></span>@x.Cash VND
                                                        </td>
                                                        <td>
                                                            <div class="hs-unfold">
                                                                <a class="js-hs-unfold-invoker btn btn-sm btn-white" href="javascript:;"
                                                                   data-hs-unfold-options='{
                           "target": "#apiKeyDropdown1",
                           "type": "css-animation",
                           "smartPositionOffEl": "#datatable"
                         }'>
                                                                    More <i class="tio-chevron-down ml-1"></i>
                                                                </a>
                                                                <div id="apiKeyDropdown1" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                                                    <a class="dropdown-item" href="/Order/Edit">Edit</a>
                                                                    <a class="dropdown-item text-danger" href="/Order/Delete">Delete</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- End Table -->
                                </div>
                                <!-- End Card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
